.navbar {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start; /* Déplacer les éléments vers la gauche */
  align-items: center;
  padding: 1em 2em;
  background: linear-gradient(160deg, #eab8f0, #f5d97ea3);
}

.navbarLinks {
  font-family: "source-sans-pro.regular", Arial, sans-serif;
  list-style: none;
  display: flex; /* Utilisation de flexbox pour l'alignement */
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 90%;
  justify-content: space-around;
  /* Déplacer les liens de navigation vers la droite */
}

.navbarLinks li {
  display: inline;
}

.navbarLinks a {
  text-decoration: none;
  color: #411a04;

  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navbarLinks a:hover {
  color: #fff; /* Exemple de changement de couleur au survol */
}

.navMenu li {
  margin: 0 1em; /* Espacement entre les éléments de la liste */
}

@media (max-width: 1224px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; /* Correction de la syntaxe */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbarLinks {
    flex-direction: column;
    gap: 10px;
  }
  @media (max-width: 509px) {
    .navbar {
      padding: 0.5em 1em;
    }

    .navbarLinks a {
      font-size: 1.2rem;
    }
  }
}
