@font-face {
  font-family: font-montserrat-medium;
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("ttf");

  font-family: font-montserrat-medium-italic;
  src: url("./assets/fonts/Montserrat-MediumItalic.ttf") format("ttf");

  font-family: font-montserrat-regular;
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("ttf");

  font-family: font-montserrat-light;
  src: url("./assets/fonts/Montserrat-Light.ttf") format("ttf");

  font-family: font-montserrat-light-italic;
  src: url("./assets/fonts/Montserrat-LightItalic.ttf") format("ttf");

  font-family: font-montserrat-thin;
  src: url("./assets/fonts/Montserrat-Thin.ttf") format("ttf");

  font-family: font-montserrat-thin-italic;
  src: url("./assets/fonts/Montserrat-ThinItalic.ttf") format("ttf");

  font-family: font-montserrat-extra-light;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("ttf");

  font-family: font-montserrat-extra-ligth-italic;
  src: url("./assets/fonts/Montserrat-ExtraLightItalic.ttf") format("ttf");
}

@font-face {
  font-family: font-source-sans-pro;
  src: url("./assets/fonts/source-sans-pro.regular.ttf") format("ttf");
}

@font-face {
  font-family: font-Josefin-Sans-Medium;
  src: url("./assets/fonts/JosefinSans-Medium.ttf") format("ttf");
}

body {
  max-width: 100%;
  margin: 0;
  box-sizing: 0;
  padding: 0;
  background-color: rgba(200, 251, 245, 0.831);
}
html {
  margin: 0;
  padding: 0;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #eab8f0a8 !important;
  color: beige;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border: none;
  text-shadow: 2px 2px 4px #15459e;
}
button:hover {
  background-color: #f5d97ea3 !important;
  transition: 0.2s;
}
a {
  text-decoration: none;
}

@media (max-width: 1224px) {
  button {
    padding: 5px 8px !important;
  }
}
